.root {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.root > h2 {
  font-weight: bold;
}

.workcontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.repobox {
  margin: 5px;
  background-color: #505050;
  display: inline-block;
  padding: 10px;
  transition: .15s;
  color: white;
  border-radius: 10px;
}

.repobox > div:first-child {
  font-size: 20px;
  font-weight: bold;
}


.repobox:hover {
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
  transform: scale(1.05);
}