.root {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.root > h2 {
  font-weight: bold;
}

.root > iframe {
  border: solid #5f5f5f8f 2.5px;
  border-radius: 25px;
  height: 750px;
  width: 750px;
}

@media only screen and (max-width: 775px) {
  .root > iframe {
    height: 1000px;
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .root > iframe {
    height: 1100px;
  }
}