.root {
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
  padding-top: 175px;
  padding-bottom: 175px;
  text-shadow: 2px 2px rgba(0,0,0,1);
}